.newsSection {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 50px 0px !important;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .xard {
    width: 30%;
    border-radius: 0.5rem;
    background-color: #fff;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5); */
    border: 0px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    margin: 0% !important;
    box-sizing: border-box;
    margin-right: 35px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    z-index: 3;
    box-sizing: border-box;
    padding-top: 0px;
    margin-top: 0 !important;

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  .image img {
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: -16;
    box-sizing: border-box;
    object-fit: contain;
  }
  .contentxx { 
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    box-sizing: border-box;
    padding: 0% !important;
    text-align: center;
  }
  .titles {
    width: 100% !important;
    color: var(--dark) !important;
    font-size: .9rem;
    font-weight: 600;
    /* padding: 0px 10px; */
    font-family: var(--font);
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 0% !important;
    margin-top: 0;
    text-align: center !important;
  }
  
  .desc {
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0% !important;
  }
  
  .desc p{
    width: 100% !important;
    font-weight: 500;
    font-size: .76rem;
    color: var(--color);
    padding: 5px 10px;
    text-transform: capitalize;
    box-sizing: border-box;
    margin-top: 0;
    }
  
    .desc button{
      width: 90% !important;
      font-weight: 500;
      font-size: .76rem;
      color: white;
      padding: 10px;
      text-transform: capitalize;
      box-sizing: border-box;
      margin-bottom: 10px !important;
      margin-left: 5%;
      background-color: var(--dark);
      border: 0px;
      border-radius: .5rem;
      }
    
  
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--dark);
    padding: 8px;
    border-radius: 4px;
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: var(--font);
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }
  
  .underlined {
    border-bottom: 2px solid var(--sec-color);
    display: inline;
}
  
  
  @media (max-width: 990px) and (min-width: 768px){
    .about-text #Ntext {
      width: 100% !important;
    }
  
    .xard {
      flex-wrap: wrap;
      width: 45%;
  }
  }
  
  
  @media screen and (max-width: 767px){
    .newsSection {
      flex-direction: column;
    }
    .xard {
        flex-wrap: wrap;
        width: 100%;
        margin: auto !important;
        margin-top: 10% !important;
    }
    /* .image img {
      height: 80% !important;
      border: 1px solid red;
    } */
    .about-text h1 {
      width: 100% !important;
    }
    .about-text #Ntext {
      width: 100% !important;
    }
  }